.title{
    text-align: center;
    color: #9a615a;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 5px;
}

.title h2{
    font-size: 39px;
    margin-top: 5px;
    color: #3f0909;
    margin-top: 5px;
    text-transform: none;
}

