.hero-container{
    background-color: #f7f3f0;
    min-height: 100vh;
}

.hero-container .hero-content{
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    max-width: 100%;
}

.hero-left{ 
    width: 45%;
    max-width: 45%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right{
    width: 55%;
    max-width: 65%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(86, 3, 3, 0.2);
    position: relative;
}

.hero-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(122, 19, 26, 0.2), rgba(63, 9, 9, 0.4));
    z-index: 1;
    pointer-events: none;
}

.hero-right img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: relative;
    z-index: 0;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 650;
    color: #3f0909;
}

.hero-text p{
    max-width: 700px;
    margin: 10px 0 20px;
    line-height: 1.4;
    font-size: 28px;
    color: #423333;
}

.hero-text img{
    width: 80px;

}

.button{
  background-color: #3f0909;
  color:#f7f3f0;
  padding: 14px 25px;
  border-radius: 40px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220PX;
  height: 75px;
  font-size: 25px;
  margin-top: 20px;
    transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.button:hover {
    background-color: #7a1c1c;
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}


.button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #4a0f0f;
}