.contact{
    margin: 120px auto;
    max-width: 90%;
    min-height: 60vh;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;
    color: #3e3e3e;
}

.contact-col h3{
    color: #3f0909;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
}

.contact-col p{
    max-width: 450px;
    line-height: 1.3;
    font-size: 20px;
}

.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
}

.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}

.contact-col form label{
    font-size: 20px;
}

.contact form input, .contact form textarea{
    width: 100%;
    font-size: 20px;
    display: block;
    background-color: #f7f3f0;
    padding: 15px;
    border: solid 2px #581515;
    border-radius: 10px;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.contact-col span{
    display: block;
    margin: 20px 0;
    
}
