nav{
    width: 100%;
    background: #6c1b21 linear-gradient(rgba(108 27, 33, 0.6),rgba(91, 11, 17, 0.4));
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
    
}

nav ul li:hover{
    cursor: pointer;
    color: #240505;
    transition: 0.1s ease-in-out;
}

.btn:hover{
    cursor: pointer;
    background: #3f0909;
    color: #f7f3f0;
    transition: 0.1s ease-in-out;
}

.btn{
  background: #f7f3f0;
  color: #212121;
  padding: 14px 25px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn:hover {
    background-color: #3f0909;
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}


.btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #4a0f0f;
}

