nav{
    width: 100%;
    background: #6c1b21 linear-gradient(rgba(108 27, 33, 0.6),rgba(91, 11, 17, 0.4));
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
    
}

nav ul li:hover{
    cursor: pointer;
    color: #240505;
    transition: 0.1s ease-in-out;
}