.simplifiqueai{
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
}

.response-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 20px auto;
}

.response-box h3 {
    color: #2C3E50;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.response-box p {
    margin: 0.8em 0;
    line-height: 1.6;
    text-align: justify;
    color: #333;
}
.chat{
    margin: 30px auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.chat form{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    align-content: center;
}

.chat form textarea{
    display: flex;
    width: 75%;
    height: 450px;
    background-color: #e6dad4;
    padding: 15px;
    outline: 0;
    margin-bottom: 15px;
    resize: none;
    border: solid 1px #581515;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    font-size: 20px;
}

.chat form textarea button img{
    width: 50px;
}

.texto {
    display: flex;
    justify-content: column;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
}
.response-box {
    width: 100%;
    min-height: 500px;
    background-color: #e6dad4;
    padding: 15px 100px;
    margin-top: 20px;
    border: solid 1px #581515;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    font-size: 25px;
    line-height: 1.6;
}

.response-box > div {
    width: 100%;
}

.response-box h1,
.response-box h2,
.response-box h3,
.response-box h4,
.response-box h5,
.response-box h6 {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

.response-box br {
    display: block;
    margin: 0.4em 0;
    content: "";
}

.response-box {
    text-align: justify;
    line-height: 1.4;
}

.response-box p:first-child {
    margin-top: 0;
}

.response-box h1:first-child,
.response-box h2:first-child,
.response-box h3:first-child,
.response-box h4:first-child,
.response-box h5:first-child,
.response-box h6:first-child {
    margin-top: 0;
}

.response-box h1 {
    color: #581515;
    font-size: 1.8em;
}

.response-box h2 {
    color: #581515;
    font-size: 1.5em;
}

.response-box h3 {
    color: #581515;
    font-size: 1.3em;
}

.response-box ul,
.response-box ol {
    margin: 1em 0;
    padding-left: 2em;
}

.response-box li {
    margin: 0.5em 0;
}