.fotos{
    margin: 80px auto;
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.foto img{
    width: 100%;
    border-radius: 10px;
    display: block;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border: solid 3px #3f0909;
}

.foto{
    flex-basis: 38%;
    position: relative;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(157, 97, 90);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.about .caption h1{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;
    color: white;
}
.caption p{
    font-size: 22px;
    display: flex;
    margin: 5px 15px;
    padding: 0 5%;
    
}

.caption img{
    width: 60px;
    margin-bottom: 10px;
}

.foto:hover .caption{
    opacity: 1;
    padding-top: 0;
}

.about{
    display: flex;
    flex-direction: column;
}

.about-top{
    display: flex;
    justify-content: space-around;
}
.about-down{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-left{
    flex-basis: 40%;
    position: relative;
}

.about-right{
    flex-basis: 56%;
    font-size: 25px;
}

.about-img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border: solid 3px #3f0909;
}

.about h2{
    color: #9a615a;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about h1{
    font-size: 45px;
    margin-top: 5px;
    color: #3f0909;
    margin-top: 5px;
    text-transform: none;
}


.about-top p{
    color: #fff;
}
.about-down p{
    color: #676767;
    margin-bottom: 15px;
    margin-top: 15px;
}